@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 100vw;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to right bottom, #181818, #3f3f3f);
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  color: white
}

/* Page Scroll Effect */
/* https://www.youtube.com/watch?v=uV8kH5RgSZU */

